name: Build Docker images and push to Docker Hub

on:
  push:
    branches: [ main ]

jobs:

  camps:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Get Time
        id: time
        uses: nanzm/get-time-action@v1.0
        with:
          timeZone: 1
          format: 'YYYY-MM-DD-HH-mm-ss'

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./code/CampService/
          file: ./code/CampService/CampService/Dockerfile
          push: true
          tags: |
            mh7860/campsapi:${{ steps.time.outputs.time }}
            mh7860/campsapi:latest
